@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #809bc0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary)
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #5662F6;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.nav-link {
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2rem;
  }
  
.nav-link:hover {
    color: var(--primary); 
  }